---
# hmm frontmatter
---
// does this ^ have to be at bottom or it doesn't matter?

// all I want to make is a blue box in the middle of the page. basic, bitch

// reset yo
//---------------------------------------------------------------------------80
html, body, div, p {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

html, body {
	width: 100%;
}
//---------------------------------------------------------------------------80

//variables tho
//---------------------------------------------------------------------------80

// Adobe Kuler-generated color scheme for background image (mood: Bright)
$scheme-darkBlue1: rgb(3, 34, 139); // bright navy color like the defaul css blue
$scheme-darkBlue2: rgb(18, 39, 91); // less saturated dark blue
$scheme-lightBlue1: rgb(129, 187, 241); // less saturated sky blue
$scheme-lightBlue2: rgb(140, 200, 243); // brighter sky blue
$scheme-yellow: rgb(240, 234, 119); // slightly dusky lemon color

$boxColor: #fff;
$bgColor:  #090005;
$textColor: $scheme-darkBlue2;

$fontFamily: Arial, Verdana, Tahoma, sans-serif;
$normalFontSize: 12px;

//---------------------------------------------------------------------------80

img.bg { // streched background image, responsive
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 800px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

body {
	background-color: $bgColor;
}

html, body, div {
	font-family: $fontFamily;
	font-size: $normalFontSize;
	color: $scheme-darkBlue2;
}

a {
	color: $scheme-darkBlue1;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	background-color: $scheme-yellow;
}

// a glistening box in the middle of the page
.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}
.middle {
	display: table-cell;
	vertical-align:middle;
}
.inner {
	background-color: rgba(lighten($scheme-lightBlue2,15%),.8);
	height: auto;
	width: 500px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
.inner p {
	padding-bottom: 5px;
}
.social-media-list {

	svg {
		width: 12px;
		height: 12px;
	}

}

.page-title {
	font-family: "Century Gothic", serif;

	padding: 5px 0 0 5px;
	font-size: 2em;
	font-weight: bold;
	display:block;
	width: 100%;
	color: $scheme-darkBlue1;
	background-color: rgba($scheme-yellow,1);
	border-bottom: 3px solid $scheme-lightBlue1;
	margin-bottom: 20px;
}

#content {
	padding: 0px 10px;
	border-bottom: 1px dotted $textColor;
}

#blob {
	//float: left;
	//padding-right: 20px;
	text-align: center;
}

// --------------------------------------------------------------------------80
// footer

.site-footer .wrapper {
	padding: 0 20px;
}

.site-footer ul { display: inline; }
.site-footer ul li {
	display: inline;
	list-style: none;
}

.site-footer ul li::after {
	content: " + ";
}
.site-footer ul li:last-child::after {
	content: "";
}
