---
# hmm frontmatter
---
// does this ^ have to be at bottom or it doesn't matter?

// all I want to make is a blue box in the middle of the page. basic, bitch

// reset yo
//---------------------------------------------------------------------------80
html, body, div, p {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

html, body {
	width: 100%;
}
//---------------------------------------------------------------------------80

//variables tho
//---------------------------------------------------------------------------80

// Adobe Kuler-generated color scheme for background image palmsky.jpg (mood: Bright)
$scheme-darkBlue1: rgb(3, 34, 139); // bright navy color like the defaul css blue
$scheme-darkBlue2: rgb(18, 39, 91); // less saturated dark blue
$scheme-lightBlue1: rgb(129, 187, 241); // less saturated sky blue
$scheme-lightBlue2: rgb(140, 200, 243); // brighter sky blue
$scheme-yellow: rgb(240, 234, 119); // slightly dusky lemon color

// Adobe Kuler generated color scheme
// Image: ventura_succulent.jpg
// Mood: Colorful
$scheme-offwhite:rgb(243, 245, 241);
$scheme-black:rgb(34, 32, 36);
$scheme-slateGray:rgb(105, 121, 138);
$scheme-green:rgb(129, 166, 149);
$scheme-yellowGreen:rgb(210, 224, 78);


$boxColor: #fff;
$bgColor:  #090005;
$textColor: $scheme-black;

$fontFamily: "Lucida Console", monospace;
$normalFontSize: 12px;

//---------------------------------------------------------------------------80

body { 
    //background-image: url('/img/ventura_succulent.jpg');
    //background-repeat: no-repeat;
    //background-attachment: fixed;
    //background-position: center center;
    background-color: $scheme-offwhite;
}

/*
img.bg { // streched background image, responsive
  // Set rules to fill background
  min-height: 100%;
  min-width: 800px;
	
  // Set up proportionate scaling
  width: 100%;
  height: auto;
	
  // Set up positioning
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
*/

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

html, body, div {
	font-family: $fontFamily;
	font-size: $normalFontSize;
	line-height: $normalFontSize * 1.3;
	color: $scheme-green;
}

p {
	margin-bottom: $normalFontSize;
}

a {
	color: $scheme-slateGray;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	background-color: $scheme-yellowGreen;
}

#bg-block {
	background-color: rgba(#fff,.5);
	width: 100%;
	height: 50%;
	float: left;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}
.middle {
	display: table-cell;
	vertical-align:middle;
}
.inner {
	//background-color: rgba(#fff,.8);
	height: auto;
	width: 500px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}
.social-media-list {

	svg {
		width: 12px;
		height: 12px;
	}

}

h1, h2, h3 {
	font-family: "Lucida Sans Unicode", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: $scheme-slateGray;
}

h4 {
	text-transform: uppercase;
}

.page-title {
	font-family: "Lucida Sans Unicode", sans-serif;
	padding: 20px;
	font-size: 2em;
	font-weight: bold;
	display:block;
	color: $scheme-black;
	//background-color: rgba($scheme-green,.4);
	border-bottom: 1px dotted $scheme-green;
	margin-bottom: 20px;
}

#content {
	padding: 0px 10px;
	border-bottom: 1px dotted $textColor;
}

#blob {
	//float: left;
	//padding-right: 20px;
	text-align: center;
}

@media all and (max-width:499px) {
	.inner {
		width: 100%;
	}
}

// --------------------------------------------------------------------------80
// navigation

.nav-primary ul {
	width: 100%;
	text-align: right;
	padding: 0;
}
.nav-primary ul li {
	display: inline;
	list-style: none;
	padding: 5px;
	background-color: #fff;
}

.nav-primary a {
	//font-family: "Lucida Sans Unicode", sans-serif;
	text-transform: uppercase;
	color: $scheme-darkBlue2;
}

.nav-primary a:hover {
	background-color: transparent;
	color: $scheme-yellowGreen;
}

// --------------------------------------------------------------------------80
// footer

.site-footer .wrapper {
	padding: 20px;
	//text-align: center;
}

.footer-col-wrapper {
	margin: 0 auto;
}
.site-footer ul { display: inline; }
.site-footer ul li {
	//display: inline;
	//list-style: none;
}
/*
.site-footer ul li::after {
	content: " + ";
}
.site-footer ul li:last-child::after {
	content: "";
}
*/

.footer-col {
	float: left;
	width: 33%;
}
