---
title: Code Projects
---

<div id="code-projects">
  <div class="project-image">
    <img src="/img/cseashawaii.png" alt="CSEASHawaii.org Homepage">
  </div>
  <div class="project-description">
    <h3>UH CSEAS Website</h3>

    <a href="https://www.cseashawaii.org">visit</a>

    Website redesign from the ground up, built as a custom WordPress theme and plugins.

    **Used**: PHP, JavaScript, HTML, CSS; BootStrap
  </div>
  <div class="project-image">
    <img src="/img/scholarships1.png" alt="CSEASHawaii.org Homepage">
    <img src="/img/scholarships2.png" alt="CSEASHawaii.org Homepage">
  </div>
  <div class="project-description">
    test 2
  </div>
  <div class="project-image">
    test 3
  </div>
  <div class="project-description">
    test 3
  </div>
</div>
