<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/square_links.css">
    <link rel="stylesheet" href="/css/img_grid.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:400,900&display=swap" rel="stylesheet">
    <title>Diliaur Tellei</title>
  </head>
  <body>
    <nav>
      {% include nav.html %}
    </nav>
    <div id="container">
      <header>
        <span id="title">{{ page.title }}</span>
      </header>
      {{ content }}
    </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>
